@charset "utf-8";

* {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  text-align: center;
  font-size: 10rem;
}



.key-select {
  /* font-size: 7rem;
  width: 80%;
  height: 45rem;
  padding: 1%;
  margin: 2rem auto;
  text-align: center; */
}

/* #first::after {
  content: "△7";
} */



#display-space > table {
  font-size: 10rem;
  /* border: 3rem;
  margin: 1rem auto; */
  width: 100%;
}

th {
  width: 100%;
}

tr:nth-child(odd) {
  /* background: white; */
}

.eme tr:nth-child(even) {
  /* background: rgb(80, 236, 140); */
}


/* tableタグ不使用の場合 */
/* PCはsample-1は display: inline-block;、container-tableは display: block; */
/* スマホの場合はsample-1は display: block;、container-tableは display: inline-block; */

.sample-1 {
  display: inline-block;
  text-align: center;
  line-height: 100px;
  height: 100px;
  background-color: #666;
  color: #fff;
}

.container-table {
  display: block;
}

@media (max-width: 768px) {
  .sample-1 {
    display: block;
  }

  .container-table {
    display: inline-block;
  }

}